<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.talelin.latticy.mapper.TestMapper">
<!--    数据库的字段 和模型类的映射-->
    <resultMap id="BaseResultMap" type="io.github.talelin.latticy.model.Banner">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="title" property="title"/>
        <result column="img" property="img"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_time" property="deleteTime"/>
    </resultMap>
    <select id="getBannerAll" resultMap="BaseResultMap">
        select * from banner
    </select>

<!--    入参 类型 parameterType-->
<!--    keyProperty 模型类的 主键字段-->
    <insert id="insetBaner" useGeneratedKeys="true" keyProperty="id" parameterType="io.github.talelin.latticy.model.Banner">
        insert into banner(name,title,img)
        values (#{name},#{title},#{img})
    </insert>
</mapper>